body {
  font-family: 'Work Sans', sans-serif;;
  font-size: 20px;
}


.flex {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

}

.flex a {
  text-decoration: none;
}

#highscore {
  display: block;
  justify-content: center;
}

#reset {
  font-size: xx-large;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.center {
  display: block;
  justify-content: center;
}

#loginpage {
  display: block;
  justify-content: center;
}

#registerpage {
  display: block;
  justify-content: center;
}

#gogo {
  margin-top: 15px;
  padding: 10px;
  font-size: 25px;
}

.descrip {
  margin: 15px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#saveScore {
  margin-top: 15px;
  padding: 10px;
  font-size: 25px;
}

.space {
  margin-bottom: 15px;
}
